{% extends "base.html" %}

{% block extra-messages %}
  {{ block.super }}
  {% for error in errors %}
  <p class="message error">
    {{ error }}
  </p>
  {% endfor %}
{% endblock %}

{% block body %}
<div class="step">
  <p>
    Make your extension. It should be a zip file containing at least the two files <code class="file required">metadata.json</code> and <code class="file required">extension.js</code>. Note that the UUID inside your <code class="file">metadata.json</code> must conform to GNOME Shell UUID guidelines. These guidelines can be found on <a href="https://wiki.gnome.org/GnomeShell/Extensions/UUIDGuidelines">the GNOME Wiki</a>.
  </p>

  <p>
    <span class="warning">These files need to be in the root directory of the zip file.</span>
    Use <code>zip -j</code> when making your zipfile to ensure this. Other files like <code class="file">stylesheet.css</code> are optional.
  </p>

  <form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}

    {{ form.source }}
    {{ form.source.errors }}

    <br>
    {{ form.gplv2_compliant }}
    {{ form.gplv2_compliant.label_tag }}
    {{ form.gplv2_compliant.errors }}

    <br>
    {{ form.tos_compliant }}
    {{ form.tos_compliant.label_tag }}
    {{ form.tos_compliant.errors }}

    <p>Make sure that you read <a href="http://blog.mecheye.net/2012/02/requirements-and-tips-for-getting-your-gnome-shell-extension-approved/">Requirements and Tips for getting your GNOME Shell Extension approved</a> &mdash; it goes over some of the things that reviewers look for.</p>

    <button type="submit" class="btn btn-primary">Upload extension</button>
  </form>

</div>
{% endblock %}

{% block navclass %}upload{% endblock %}
